body{
    background-color: black;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
}

#home{
    background: url(/Images/background-01.jpg);
    background-size: 100% 150%;
    height: 93vh;
}

#navbar-menu{
    position: absolute;
    top: 15px;
    right: 20px;
    display: inline-flex;
}

#logo-name{
    font-family: 'Play', sans-serif;
    font-size: 35px;
    position: absolute;
    left: 20px;
    color: white;
}

.nav-itens{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: beige;
    margin-left: 15px;
}

.nav-itens a:hover{
    cursor: pointer;
    color: rgb(11, 126, 241); 
}

#menu{
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
}

#apresentation-container{
    display: block;
    margin: 0px auto 0px auto;
    width: 90%;
    height: 91vh;
}

#content-apresentation{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.text-apresentation-side{
    width: 50%;
    height: 100%;
}

#text-apresentation{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: white;
    width: 100%;
    position: relative;
    top: 40%;
}

#text-apresentation h3{ 
    font-size: 20px;
    margin-bottom: 15px;
}

#text-apresentation h1{ 
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
}

#text-apresentation h2{ 
    font-size: 25px;
    font-weight: 500;
}

.social-media-link{
    text-decoration: none;
    position: relative;
    top: 280px;
}

.social-media-link img{
    width: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

.social-media-link img:hover{
    box-shadow: 0 4px 8px 0 rgba(235, 235, 235, 0.664), 0 6px 20px 0 rgba(238, 238, 238, 0.568);
}

#profile{
    width: 50%;
    height: 100%;
}

#profile img{
    display: block;
    margin: 0px auto 0px auto;
    height: 102%;   
}

#cv{
    width: auto;
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: rgb(250, 250, 250);
    background-color: rgb(0, 102, 255);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding: 5px; 
}

#resume-title{
    width: 90%;
    height: 20%;
    display: block;
    margin: 0px auto 0px auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.small-title{
    font-weight: 900;
    position: relative;
    top: 70px;
    font-size: 50px;
}

.big-title{
    font-weight: 900;
    font-size: 100px;
    z-index: 0;
    color: rgb(43, 43, 43);
}

#about-content{
    display: block;
    margin: 20px auto 0px auto;
    width: 90%;
}

#information-about{
    width: 100%;
    display: inline-flex;
}

#text-about{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-about h1{
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    font-weight: bold; 
    color: white;
}

#text-about p{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: rgb(122, 122, 122);
    font-size: 15px;
    text-align: justify;
    width: 90%;
}


#information-about img{
    display: block;
    margin: 0px auto 0px auto;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: #212121;
}

#resume-working{
    display: block;
    margin: 20px auto 0px auto;
    width: 90%;
    height: 20%;
}

.grid-experience{
    display: inline-flex;
}

.resume-wrap{
    background-color: #212121;
    border-radius: 15px;
    margin-left: 15px;
    width: 50%;
    color: white;
}

.content-experiente{
    display: block;
    margin: 25px auto 25px auto;
    width: 90%;
}

.date{
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: rgb(0, 98, 255);
   
}

.resume-wrap h2{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 30px;
    
    margin: 15px 0px 15px 0px;
}

.position{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    color: rgb(131, 131, 131);
}

.mt-4{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: rgb(131, 131, 131);;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
}

#skills-container{
    display: block;
    margin: 20px auto 0px auto;
    width: 90%;
}

.skills-content{
    display: inline-flex;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.skill-experience{
    width: 50%;
    margin: 20px 20px 0px 20px ;
}

.skill-experience h1{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.progress{
    width: 100%;
    height: 15px;
    font-weight: bold;
}

.progress-bar{
    height: 15px;
}

#project-test{
    display: block;
    margin: 0px auto 0px auto;
    width: 100%;
}

#myCarousel{
    max-width: 100%;
}

.information-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    height: 70px;
}

.project-button{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(8, 110, 243);
}

.project-button:hover{
    background-color: rgb(16, 65, 170);
}

.carousel-control-prev, .carousel-control-next{
    width: 45px;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
    transition: 1s;
    opacity: 40%;
    background: #acacac;
}

.container{
    border: 1px solid red;
    width: 150%;
}

#visible-projects-card-mobile{
    display: none;
}

#project-container{
    display: block;
    margin: 20px auto 0px auto;
    width: 90%;
}

.project-content{
    display: inline-flex;
    width: 100%;
}

.project-content a{
    width: 100%;
}

.project, .project-robotic{
    box-shadow: rgba(68, 165, 244, 0.363) 0px 3px 6px, rgba(75, 165, 255, 0.404) 0px 3px 6px;
    background: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 95%;
    height: 400px;
    background-color: rgb(21, 95, 208);
    border-radius: 15px;
    z-index: 2;
    border: 1px solid blue;
}

#smartCalc{
    background-size: 100% 100%;
    background-color: #323232;
}

#supermecado-api{
    background-size: 100% 50%;
    background-position: 50%;
    background-color: #282A36;
}

#TecMundo{
    background-size: 101% 70%; 
    background-color: #ADADAD;
}

#youtube{
    background-size: 101% 70%;
    background-color: #171717;
}

.project-robotic{
    background-size: 100% 100%;
    height: 500px;
}

#projectExhibition{
    width: 50%;
    margin-right: 10px;
}

#projectExhibitionFullScreen{
    width: 100%;
}

.carousel-inner img, .carousel-inner video{
    width: 100%;
    height: 500px;
    max-width: 100%;
    max-height: 50%;
    
    border-radius: 15px;

}

.carousel-inner video{
    width: 100%;
    height: 500px;
    border-radius: 15px;

}



.description-project{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 25px;
}

a{
    text-decoration: none;
    color: white;
}

.description{
    font-weight: normal;
    font-size: 18px;
    color: rgb(191, 191, 191);
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}
 

.project img{
    width: 100%;
    border: 1px solid white;
    z-index: 1;
    border-radius: 15px;
}

#contact-container{
    display: block;
    margin: 20px auto 0px auto;
    width: 90%;
}

#type-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.information-contact{
    align-items: center; 
    margin-right: 20px;
    padding: 10px;
    width: 100%;
    height: 100px;
}

.information-contact img{
    display: block;
    margin: 0px auto 10px auto;
    border-radius: 50%;
}

.information-contact img:hover{
    box-shadow: 0 4px 8px 0 rgba(235, 235, 235, 0.664), 0 6px 20px 0 rgba(238, 238, 238, 0.568);
}



.information-contact h2{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
}


.information-contact h3{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
}

#copyright{
    color: white;
    position: absolute;
    left: 0;
}

footer{
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.footer-menu{
    position: absolute;
    display: inline-flex;
    right: 10px;
    margin-top: 15px;
}

.logo-footer{
    display: block;
    margin: 0px auto 0px auto;
}
.nav-item-footer{
    margin-left: 10px;
}
.nav-item-footer a, .text-copyright{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: aliceblue;

}

.text-copyright{
    margin-top: 15px;
    position: absolute;
    left: 10px;
}


/* Exemplo de media query para celular */
@media only screen and (max-width: 599px) {
    /* Estilos para dispositivos móveis */

    nav{
        height: 100vh;
        display: none;
    }

    #home{
        height: 90vh;
        background-size: 150% 150%;
    }

    #navbar-menu{
        display: table;
        border: 1px solid gray;
    }

    .nav-itens{
        text-align: center;
        width: 335px;
        height: 50px;
        vertical-align: middle;
    }

    #information-about{
        display: table;
    }

    #text-about{
        width: auto;
        text-align: center;
    }

    #text-about h1{
        font-size: 35px;
    }

    #text-about p{
        font-size: 18px;
    }

    #information-about img{
        margin-top: 20px;
        width: 90%;
        height: 90%;
    }

    #cv{
        position: relative;
        bottom: 25px;
        font-size: 20px;
    }

    #resume{
        margin-top: 20px;
    }

    .content-experiente{
        padding: 20px 0px 20px 0px;
    }

    #content-apresentation{
        display: table; 
    }

    .big-title{
        font-size: 75px;
    }

    #text-apresentation{
        position: relative;
        top: 80px;
    }

    .grid-experience{
        display: table;
    }

    .resume-wrap{
        width: 95%;
    }

    .skills-content{
        display: table;
        margin-bottom: 0px;
        
    }

    .skill-experience{
        width: 90%;
    }

    #visible-projects-card-mobile{
        display: table;
    }

    #project-test{
        display: none;
    }

    .project{
        width: 90%;
        height: 20vh;
    }

    .project-robotic{
        width: 90%;
        height: 250px;
    }

    #projectExhibition{
        width: 100%;
        margin-bottom: 10px;
        
    }

    .project-content{
        display: table;
        width: 100%;
    }

    .description{   
        font-size: 15px;   
    }

    #contact-container{
        width: 90%;
    }

    #type-contact{
        display: table;
        width: 100%;
        margin-bottom: 20px;
  
    }

    .information-contact{
        margin-bottom: 30px;
    }

    .information-contact h3{
        font-family: 'Satisfy', cursive;
        font-family: 'Ubuntu', sans-serif;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
        color: white;
        text-align: center;
    }

    .footer-menu{
        display: none;
    }
}

